<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>

  <appSettings>
	<add key="LibraryPath" value="C:\temp\Books" />
  </appSettings>
  
  <log4net debug="false">
	<appender name="FileAppender" type="log4net.Appender.FileAppender">
	  <file value="log.txt" />
	  <appendToFile value="true" />
	  <layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
	  </layout>
	</appender>
	<root>
	  <priority value="ALL" />
	  <appender-ref ref="FileAppender" />
	</root>
  </log4net>
</configuration>